EDGE_CAM_ID=CAM_01
EDGE_HOST=0.0.0.0
EDGE_PORT=8765
EDGE_BACKEND_URL=http://127.0.0.1:8000
EDGE_DATA_DIR=./data
EDGE_DETECTION_COMMAND=
EDGE_STREAM_SOURCE=auto
EDGE_CAMERA_INDEX=0
EDGE_CAMERA_DEVICE=/dev/video0
EDGE_CAMERA_WIDTH=640
EDGE_CAMERA_HEIGHT=360
EDGE_CAMERA_FPS=12
EDGE_HAILO_APPS_DIR=/home/admin/hailo-apps
EDGE_HAILO_MODEL=/usr/local/hailo/resources/models/hailo8/yolov8m_pose.hef
EDGE_INFERENCE_FRAME_FPS=8
