EDGE_CAM_ID=CAM_01
EDGE_HOST=0.0.0.0
EDGE_PORT=8765
EDGE_BACKEND_URL=http://127.0.0.1:8000
EDGE_DATA_DIR=./data
EDGE_DETECTION_COMMAND=
EDGE_STREAM_SOURCE=auto
EDGE_CAMERA_INDEX=0
EDGE_CAMERA_DEVICE=/dev/video0
EDGE_CAMERA_WIDTH=640
EDGE_CAMERA_HEIGHT=360
EDGE_CAMERA_FPS=12
EDGE_HAILO_APPS_DIR=/home/admin/hailo-apps
EDGE_HAILO_MODEL=/usr/local/hailo/resources/models/hailo8/yolov8m_pose.hef
EDGE_HAND_LANDMARK_MODEL=./models/hand_landmark_lite.tflite
EDGE_HAND_LANDMARK_FPS=3
EDGE_HAND_LANDMARK_CONFIDENCE=0.5
EDGE_INFERENCE_FRAME_FPS=6
EDGE_EVENT_FPS=4
EDGE_REID_SIGNATURE_FPS=2
EDGE_REID_TTL_SECONDS=10
EDGE_REID_SIMILARITY_THRESHOLD=0.76
EDGE_REID_TRACK_GRACE_SECONDS=1.5
EDGE_WIFI_INTERFACE=wlan0
EDGE_ETHERNET_INTERFACE=eth0
EDGE_HOTSPOT_CONNECTION=ERGoSIGHT Setup
EDGE_HOTSPOT_SSID=ERGoSIGHT-CAM01
EDGE_DIRECT_LAN_ADDRESS=10.55.0.1/24
